.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2a363b;
}

.link {
  display: inline-block;
  padding: 12px;
  color: cornflowerblue;
  text-decoration: none;
  text-transform: uppercase;
}

.activeLink {
  color: red;
}
